<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Generation Chatbot</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">

</head>
<body>
    <header>CodeLama Chatbot</header>
    <div class="chat-container" id="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <input type="text" id="user-input" class="user-input" placeholder="Type your prompt here...">
        <button onclick="sendMessage()" class="send-button">Send</button>
        <button onclick="saveFeedback()" class="feedback-button">Save Feedback</button>
        <button class="button" onclick="viewLogs()">View Logs</button>
    </div>
    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
